.link-bar {
  position: absolute;
  top: 15px;
  right: 20px;
  box-sizing: border-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, Noto Sans, sans-serif;
}

a {
  margin-left: 15px;
  color: #333;  
  text-decoration: none;
}

a:first-child {
  margin-left: 0;
}

a:hover {
  text-decoration: underline;
}