.link-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  pointer-events: auto;
}

a {
  margin-left: 15px;
  color: #333;
  text-decoration: none;
}

a:first-child {
  margin-left: 0;
}

a:hover {
  text-decoration: underline;
}

@media all and (max-width: 520px) {
  .link-bar {
    padding: 10px;
  }

  a {
    margin-left: 10px;
  }
}
